<div class="container">

  <!--Formulario por plantilla-->
  <!-- <form #form="ngForm" (ngSubmit)="createElement(form)" class="row g-2">
    <h3>Agregar nueva Card</h3>
    <div class="mb-3">
      <label class="form-label">Titulo</label>
      <input type="text" name="name" required="" class="form-control" ngModel>
    </div>

    <div class="mb-3">
      <label class="form-label">Descripcion</label>
      <input type="text" name="description" required="" class="form-control" ngModel>
    </div>

    <div class="mb-3">
      <label class="form-label">URL de la imagen</label>
      <input type="text" name="image" required="" class="form-control" ngModel>
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>
    
    <div *ngIf="form.submitted && !form.valid" class="alert alert-danger" role="alert">
      Datos incompletos
    </div>
  </form> -->


  <form [formGroup]="form" (ngSubmit)="createElement()" class="row g-2">
    <h3> {{selectedShow ? "Editar serie" : "Agregar nueva serie" }} </h3>
    <div class="mb-3">
      <label class="form-label">Titulo</label>
      <input type="text" class="form-control" formControlName="name">
    </div>

    <div class="mb-3">
      <label class="form-label">Descripcion</label>
      <input type="text" class="form-control" formControlName="description">
    </div>

    <div class="mb-3">
      <label class="form-label">URL de la imagen</label>
      <input type="text" class="form-control" formControlName="image">
    </div>

    <button type="submit" class="btn btn-primary"> {{selectedShow ? "Guardar cambios" : "Agregar" }} </button>
    
    <div *ngIf="isFormSubmmited && !form.valid" class="alert alert-danger" role="alert">
      Datos incompletos
    </div>
  </form>


  <h3 style="margin-top: 20px">Series</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let show of shows">
        <app-card [show]="show" (deleteCard)="deleteElement($event)" (editCard)="editElement(show)"></app-card>
      </div>
    </div>
  </div>

</div>
  